<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appqlquancf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ThongKe_Activity"></activity>
        <activity android:name=".HoaDon_ThanhToan_Activity" />
        <activity android:name=".ChiTietHoaDon_Activity" />
        <activity android:name=".Them_HoaDon_Activity" />
        <activity android:name=".HoaDon_Activity" />
        <activity android:name=".NhanVien_Activity" />
        <activity android:name=".SanPham_Activity" />
        <activity
            android:name=".ui.login.SanPham_Activity"
            android:label="@string/title_activity_san_pham_" />
        <activity android:name=".LoaiSP_Activity" />
        <activity android:name=".Main_QuanLy_Activity" />
        <activity android:name=".LichSu_HoaDon_Activity" />
        <activity android:name=".Main_NV_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>